<section id="about" class="px-10 py-20 lg:p-20 border-t border-gray-300 flex flex-col items-center">
  <h2 class="text-center border-b-2 w-64 border-green-800 font-semibold text-5xl pb-4">About Us</h2>

  <article class="mt-20 border border-green-800 p-8 md:p-12 lg:p-20 rounded-lg flex flex-col lg:flex-row items-center justify-center lg:justify-between gap-10">
    <p class="text-3xl md:text-4xl lg:hidden font-semibold mt-6 mb-6 lg:mt-0 text-green-800">More than 20 years of experience</p>

    <div class="">
      <img src="/images/experience.svg" class="w-[110rem]" alt="" />
    </div>
    <div>
      <h3 class="text-3xl hidden lg:flex font-semibold mt-6 mb-6 lg:mt-0 text-yellow-500">More than 20 years of experience</h3>
      <p class="text-lg">New World Translations is a translation agency with more than 20 years of experience, serving the translation and interpretation needs of our national and foreign clients. The quality of our service has allowed us to efficiently support law firms, companies, industry, the medical profession, commerce, educational institutions, individual clients and more, to meet their communication needs in English and Spanish during all these years. We are experts in what we do, and we enjoy helping our customers to suceed!</p>
    </div>
  </article>
</section>