<section id="contact" class="px-10 py-20 lg:p-20 border-t w-full border-gray-300 flex flex-col items-center">
  <h2 class="text-center border-b-2 w-64 border-green-800 font-semibold text-5xl pb-4">Contact Us</h2>

  <div class="flex mt-20 items-center justify-between gap-10">
    <div class="hidden lg:flex">
      <img src="/images/work.svg" class="w-4/5" alt="" />
    </div>
    <div class="w-full">
      <h3 class="text-3xl hidden lg:flex font-semibold mt-6 mb-6 lg:mt-0 text-green-800">Let us know how we can help you</h3>

      <div class="flex lg:hidden my-6">
        <img src="/images/work.svg" class="w-4/5" alt="" />
      </div>

      <form 
      class="mt-10 flex flex-col gap-5 w-full"
      action="https://formsubmit.co/carolruiz@gmail.com" 
      method="POST">
        <input class="border border-green-800 p-2" type="text" name="name" placeholder="Name" required>
        <input class="border border-green-800 p-2" type="email" name="email" placeholder="Email" required>
        <textarea class="border border-green-800 p-2" name="message" placeholder="Message" required></textarea>
        <button class="border p-2 bg-black text-white border-white rounded-md" type="submit">Send</button>
    </form>
    </div>
  </div>
</section>