---
import ServiceCard from "../components/ServiceCard.astro";

const services = [
  {
    name: "Translation",
    icon: "lucide:book",
    description: "Our Translation service in English and Spanish is carried out by certified and duly registered translators, to provide you with professionalism.",
  },
  {
    "name": "Localization",
    "icon": "lucide:globe",
    "description": "We offer localization services for your software, application, website, marketing campaign, etc. We are experts in the localization of software, applications"
  },
  {
    "name": "Interpretation",
    "icon": "lucide:mic",
    "description": "We offer interpretation services in over 200 languages. We are experts in the interpretation of over 200 languages."
  }
]
---

<section id="services" class="px-10 py-20 lg:p-20 border-t border-gray-300 flex flex-col items-center">
  <h2 class="text-center border-b-2 w-64 border-green-800 font-semibold text-5xl pb-4">Services</h2>

  <div class="flex gap-10 flex-wrap flex-col lg:flex-row lg:flex-nowrap items-center justify-center mt-20">
    <ServiceCard service={services[0]} />
    <ServiceCard service={services[1]} />
    <ServiceCard service={services[2]} />
  </div>
</section>