---
---

<section class="p-12 md:p-20">
  <h3 class="text-4xl font-bold mb-10 text-gray-900">Why Us?</h3>
  <p>With over two decades of dedicated expertise, our translations website stands as a trusted industry leader, delivering top-notch linguistic solutions across a diverse array of niches. Here's why we're the ideal choice for all your translation needs:</p>

  <article class="grid lg:grid-cols-2 gap-8 mt-16">
    <img src="/img/trust.jpg" class="w-full rounded-md" alt="people shaking hands">
    <div class="flex flex-col justify-center p-4">
      <h4 class="text-3xl font-bold mb-4">Proven Excellence:</h4>
      <ul class="flex flex-col gap-8 mt-8">
        <li class="list-disc">Our track record of more than two decades in the industry reflects our consistent dedication to excellence.</li>
        <li class="list-disc">We have built a reputation for delivering translations of the highest quality, earning the trust of clients who return to us for their linguistic needs time and again.</li>
      </ul>
    </div>
  </article>

  <article class="grid lg:grid-cols-2 lg:grid-rows-1 gap-8 mt-16">
    <img src="/img/expertise.jpg" class="w-full lg:col-start-2 rounded-md" alt="people shaking hands">
    <div class="col-start-1 lg:row-start-1 flex flex-col justify-center p-4">
      <h4 class="text-3xl font-bold mb-4">Versatile Expertise:</h4>
      <ul class="flex flex-col gap-8 mt-8">
        <li class="list-disc">Our team comprises specialists in various fields, ensuring that we can effectively translate content from diverse niches.</li>
        <li class="list-disc">Whether it's legal documents, medical records, technical manuals, or creative marketing materials, we have the expertise to handle it all with precision and accuracy.</li>
      </ul>
    </div>
  </article>

  <article class="grid lg:grid-cols-2 gap-8 mt-16">
    <img src="/img/time.jpg" class="w-full rounded-md" alt="people shaking hands">
    <div class="flex flex-col justify-center p-4">
      <h4 class="text-3xl font-bold mb-4">Timely Delivery:</h4>
      <ul class="flex flex-col gap-8 mt-8">
        <li class="list-disc">We recognize that deadlines matter. Our team is adept at managing projects to ensure they are completed on schedule.</li>
        <li class="list-disc">You can rely on us to meet your time-sensitive translation needs without compromising quality.</li>
      </ul>
    </div>
  </article>
</section>