---
import Main from '../layouts/Main.astro';
---

<Main title='New World Translations - About'>
  <section class='pt-20'>
    <div class='flex items-center p-10 flex-col'>
      <section class='bg-white rounded-md p-10 shadow-md'>
        <article class='w-full flex-col lg:flex-row flex items-center gap-8'>
          <img
            src='/img/trust.jpg'
            alt='handshake'
            class='lg:w-1/2 rounded-md shadow-lg'
          />

          <section>
            <h1 class='text-4xl font-bold text-gray-800'>About Us</h1>
            <p class='mt-8'>
              New World Translations is a translation agency with more than 20
              years of experience, serving the translation and interpretation
              needs of our national and foreign clients. The quality of our
              service has allowed us to efficiently support law firms,
              companies, industry, the medical profession, commerce, educational
              institutions, individual clients and more, to meet their
              communication needs in English and Spanish during all these years.
              We are experts in what we do, and we enjoy helping our customers
              to suceed!
            </p>
          </section>
        </article>

        <article
          class='bg-white w-full mt-10 grid grid-cols-1 lg:grid-cols-2 gap-8'
        >
          <img
            src='/img/language.jpg'
            alt='Language cards'
            class='w-full lg:col-start-2 rounded-md shadow-lg'
          />

          <section class='lg:row-start-1 flex justify-center flex-col'>
            <h1 class='text-4xl font-bold text-gray-800'>Our Mission</h1>
            <p class='mt-8'>
              At New World Translations, our mission is to bridge language
              barriers and foster global communication. With over two decades of
              unwavering commitment, we strive to provide impeccable translation
              and interpretation services to both national and international
              clients. Our core focus is enabling law firms, businesses,
              healthcare providers, educational institutions, and individuals to
              communicate seamlessly in English and Spanish. We are dedicated to
              ensuring our clients' success by delivering accurate, reliable,
              and culturally sensitive language solutions, backed by our
              expertise and passion for what we do."
            </p>
          </section>
        </article>

        <article
          class='bg-white w-full mt-10 flex flex-col lg:flex-row items-center gap-8'
        >
          <img
            src='/img/service.jpg'
            alt='People checking service'
            class='lg:w-1/2 rounded-md shadow-lg'
          />

          <section>
            <h1 class='text-4xl font-bold text-gray-800'>Our Vision</h1>
            <p class='mt-8'>
              Our vision at New World Translations is to be a leading force in
              the realm of linguistic services, setting new industry standards
              for excellence and innovation. We aspire to continue our journey
              as trusted language partners for diverse clientele, evolving with
              the ever-changing global landscape. With a commitment to quality
              and a client-centric approach, we see a future where language
              differences no longer hinder progress, where cultural
              understanding is celebrated, and where our clients' objectives are
              consistently achieved. Together, we envision a world united
              through effective and harmonious communication.
            </p>
          </section>
        </article>
      </section>
    </div>
  </section>
</Main>
