---
import Main from "../layouts/Main.astro";
import Hero from "../components/Hero.astro";
import CountersContainer from "../containers/CountersContainer.astro";
import WhyUsContainer from "../containers/WhyUsContainer.astro";
import QuoteContainer from "../containers/QuoteContainer.astro";
---

<Main title="New World Translations">
	<Hero />
	<WhyUsContainer />
	<CountersContainer />
	<QuoteContainer />
</Main>
