---
import Main from "../layouts/Main.astro";
import Hero from "../components/Hero.astro";
import Services from "../containers/Services.astro";
import About from "../containers/About.astro";
import Contact from "../containers/Contact.astro";
---

<Main title="Home Page">
	<Hero />
	<Services />
	<About />
	<Contact />
</Main>
