---
import { Icon } from 'astro-icon';
---

<footer
  class='bg-cyan-950 text-white text-center p-8 min-h-28 flex flex-col gap-4 lg:flex-row items-center justify-between'
>
  <div>
    <img src='/img/logo.png' alt='logo' class='h-14' />
  </div>
  <p>Copyright © 2022 New World Translations</p>
  <div class='flex items-center gap-4'>
    <a
      href='https://www.facebook.com/traduccionesguatemala/'
      aria-label='Facebook'
    >
      <Icon name='mdi:facebook' class='h-6' />
    </a>
    <a href='mailto:carolruizm@gmail.com' aria-label='Email'>
      <Icon name='mi:email' class='h-6' />
    </a>
  </div>
</footer>
