---

---

<section class='h-screen relative'>
  <div
    class='absolute w-full h-full bg-gradient-to-r from-black to-transparent opacity-90'
  >
  </div>
  <div
    class='absolute text-white h-full flex justify-center p-8 lg:p-0 lg:w-2/3 lg:pl-20 flex-col gap-12'
  >
    <h1 class='text-4xl lg:text-7xl font-bold'>New World Translations</h1>
    <!-- <img src='/img/logo.png' class='' alt='logo' /> -->

    <p class='text-md lg:text-xl'>
      We are a translation company with 22 years of experience, serving the
      translation and interpretation needs of our national and foreign clients
      from English to Spanish and Spanish to English
    </p>

    <div class='button'>
      <a
        href='/about'
        class='p-4 bg-green-600 border-2 border-green-800 hover:bg-green-700 hover:underline hover:font-semibold text-white w-full rounded-full px-8 shadow-md shadow-gray-700'
        >Learn more</a
      >
    </div>
  </div>
</section>

<style>
  section {
    background-image: url('/img/Hero.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  h1 {
    animation: 1s ease-in 0s 1 slideInFromLeft;
  }

  p {
    animation: 1s ease-in 0s 1 slideInFromLeft;
  }

  .button {
    animation: 1s ease-in 0s 1 slideInFromLeft;
  }
</style>
