---
import { Icon } from 'astro-icon';

---

<script>
  const button = document.getElementById('top-button');
  button.classList.toggle('hidden', true);
  
  window.addEventListener('scroll', () => {

    if (window.scrollY <= 128) {
      button.classList.toggle('hidden', true);
    } else {
      button.classList.toggle('hidden', false);
      button.classList.toggle('bottom-10', true);

      if (window.scrollY >= 2000 && window.innerHeight >= 500) {
        button.classList.toggle('bottom-10', false);
        button.classList.toggle('bottom-32', true);
      }
    }
  })
</script>

<a id="top-button" href="/#" class="fixed right-6 transition-all ease-in-out duration-150 delay-50">
  <div class=" bg-black flex items-center justify-center rounded-full w-12 h-12 text-white">
    <Icon name="lucide:arrow-up " class="w-5 h-5" />
  </div>
</a>