---
const { title } = Astro.props;
const currentPath = Astro.url.pathname;

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MobileMenu from '../containers/MobileMenu.astro';
---

<script>
  const header = document.querySelector('#header');

  const height = document.documentElement.scrollTop;
  const isIndex = !(document.documentURI.slice(-1) == '/');
  const isAbout = document.documentURI.includes('about');
  const isServices = document.documentURI.includes('services');
  const isContact = document.documentURI.includes('contact');

  if (isIndex) {
    header.className =
      'w-full bg-white text-black py-4 px-8 z-10 top-0 fixed flex items-center justify-between h-36 transition-all duration-500 shadow-md ease-in-out';
  } else {
    header.className =
      'w-full bg-gradient-to-b from-gray-800 to-transparent text-white py-4 px-8 bg-opacity-80 z-10 top-0 fixed flex items-center justify-between h-20';
  }

  window.addEventListener('scroll', () => {
    const height = document.documentElement.scrollTop;
    const isAbout = document.documentURI.includes('about');
    const isServices = document.documentURI.includes('services');
    const isContact = document.documentURI.includes('contact');

    console.log(isIndex);

    if (height > 380 && !isIndex) {
      header.className =
        'w-full bg-cyan-950 text-white py-4 px-8 z-10 top-0 fixed flex items-center justify-between h-24 transition-all duration-500 shadow-md ease-in-out';
    } else if (isAbout || isServices || isContact) {
      header.className =
        'w-full bg-cyan-950 text-white py-4 px-8 z-10 top-0 fixed flex items-center justify-between h-24 transition-all duration-500 shadow-md ease-in-out';
    } else {
      header.className =
        'w-full bg-gradient-to-b from-gray-800 to-transparent text-white py-4 px-8 bg-opacity-80 z-10 top-0 fixed flex items-center justify-between h-20';
    }
  });
</script>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta
      name='description'
      content='New World Translations provides translations services from english to spanish and spanish to english for multiple niches'
    />
  </head>
  <body>
    <Header />
    <MobileMenu />
    <main class='bg-gray-100' id='main'>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  * {
    scroll-behavior: smooth;
  }
</style>
